@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<a href="../Cliente/Index">Lista de Clientes</a>
<br />
<a href="../Lotacao/Index">Lista de Lotações</a>
<br />
<a href="../Cargo/Index">Lista de Cargos</a>

<br />
<a href="../Municipio/Index">Lista de Municipios</a>

<br />
<a href="../UF/Index">Lista de UFs</a>

<br />
<a href="../Funcionarios/Index">Lista de Funcionarios</a>