<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="Curso2013Turma03Entities" connectionString="metadata=res://*/Logic.Curso2013Turma03.Model.Curso2013Turma03Model.csdl|res://*/Logic.Curso2013Turma03.Model.Curso2013Turma03Model.ssdl|res://*/Logic.Curso2013Turma03.Model.Curso2013Turma03Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=AAMSGI5032SEMAC;initial catalog=Curso2013Turma03;persist security info=True;user id=curso;password=senha123;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>